* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bgColor: rgb(0, 151, 28);
  --textColorHeading: rgb(255, 255, 255);
  --headingFontSize: 1.5rem;
}
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-image: url(/images/pexels-catiamatos-1072179.jpg);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100lvh;
}

span {
  font-size: 1.7rem;
  font-style: normal;
}
.flex-wrapper {
  height: 70lvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flex-wrapper > h1 {
  margin: 5px;
  text-shadow: black 3px 4px 6px;
  font-size: var(--headingFontSize);
  text-transform: uppercase;
  text-align: center;
  color: var(--textColorHeading);
  font-weight: bold;
}
.flex-wrapper > p {
  text-shadow: black 3px 4px 6px;
  text-transform: capitalize;
  margin-top: 15px;
  text-align: center;
  color: var(--textColorHeading);
  font-weight: 600;
  font-style: italic;
  font-size: 1.2rem;
}

.scoreBox {
  margin-top: 20px;
  border-radius: 30px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  background-image: url(/images/cosmic.webp);
  height: 300px;
  width: 500px;
  display: flex;
  padding: 7px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 1s;
}
.scoreBox:hover {
  box-shadow: rgb(0, 0, 0) 4px 6px 8px;
  transform: scale(1.1);
}
.scoreBox > h3 {
  margin-bottom: 10px;
  font-size: 3rem;
  text-shadow: 2px 3px black;
  color: rgb(255, 255, 255);
}
.scoreBox > h2 {
  text-transform: capitalize;
  font-style: italic;
  text-align: center;
  text-shadow: black 3px 4px 6px;
  color: rgb(255, 255, 255);
}
.redFail {
  color: red;
}
h4 {
  color: red;
}

@media (max-width: 460px) {
  .scoreBox {
    height: 350px;
    width: 350px;
    opacity: 95%;
  }
  
}
